
.block_1{
    width: 1000px;
    margin: 0px auto;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.star_bg{
    width: 300px;
    margin: 100px auto;
    border-radius: 150px;
    overflow: hidden;
    position: relative;
}
.star_bg img{
    width: 100%;
}
.aastar_bg{
    position: absolute;
    width: 362.5px;
    height: 500px;
    top: 60px;
    left: 75px;
    background-image: url(../img/his_star.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 22;
    pointer-events: none;
}
.con_text{
    width: 50%;
}
.con_text p{
    margin-bottom: 20px;
    padding-right: 50px;
    
}
/*-------------anm-------------*/
.anm{
    width: 1000px;
    height: 200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.fill{
    width: 220px;
    height: 220px;
    background-color:#101010;
    position: absolute;
    opacity: 1;
    top: 0;
    transition: 1s;
}
.fill_1{
    left: 6%;
}
.fill_2{
    left: 50%;
    transform: translateX(-50%);
}
.fill_3{
    left: 75%;
}

.hover{
    opacity: 0;
    pointer-events: none;
}

/*-------------block_02-------------*/
.block_2{
    width: 1000px;
    margin: 0 auto;

    display: flex;
}
.time_line{
    width: 1000px;
    position: relative;
}
.time_line::before{
    content: "";
    width: 3px;
    height: calc( 100% - 510px );
    margin-top: 200px;
    background: #A28C54;
    position: absolute;
    top: 0;
    right: 50%;
    
}
.content_1{
    width: 100%;
    margin-bottom: 100px;
    display: flex;
}
.img_flex{
    width: 300px;
    flex-grow: 1;
}
.content_img{
    width: 300px;
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;
}
.content_img img{
    width: 100%;
}
.content_box{
    box-sizing: border-box;
    width: 300px;
    margin: 140px 10px 0px;
    padding: 40px;
    flex-grow: 1;
    position: relative;
}
.left::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40px;
    right: -26.5px;
    background-image: url(../img/Star.png);
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.right::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40px;
    left: -23.5px;
    background-image: url(../img/Star.png);
    background-size: cover;
    background-position: center center;
    z-index: 1;
}
.content_box h2{
    margin-bottom: 10px;
}

@media screen and (max-width: 414px){
    .block_1{
        width: 100%;
        flex-direction: column;
    }
    .star_bg{
        margin: 45px auto 0;
    }
    .aastar_bg{
        width: 90%;
        background-size: contain;
        left: 10px;
        right: 0;
        top: 0;
        margin: auto;
    }
    .con_text{
        width: 90%;
        margin: 70px auto;
    }
    .con_text p{
        padding: 0;
    }
    .anm{
        display: none;
    }
    .block_2{
        width: 100%;
        margin-bottom: 80px;
    }
    .time_line{
        width: 100%;
    }
    .time_line::before{
        right: 30px;
        height: 66.5%;
        padding-bottom: 200px;
    }
    .content_1{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .img_flex{
        width: 65%;
        margin: 20px 50px;
        position: relative;
    }
    .img_flex::before{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        top: 45%;
        right: -73px;
        background-image: url(../img/Star.png);
        background-size: cover;
        background-position: center center;
        z-index: 1;
    }
    .content_img{
        width: 100%;
    }
    .content_box{
        padding: 0;
        width: 70%;
        margin: 0 50px 0;
    }
    .left::before,.right::before{
        display: none;
    }
    .box_rwd_1{
        order: 2;
    }
    .box_rwd_1{
        order: 1;
    }
}