section{
    position: relative;
    padding-bottom: 200px;
}
h1.title{
    margin-bottom: 0;
}
.bg_1{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 300px;
    background-image: url(../img/news_bg_1.png);
    background-size: cover;
    background-position: right bottom;
}
.bg_2{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 600px;
    background-image: url(../img/news_page_bg_2.png);
    background-size: cover;
    background-position: left top;
    pointer-events: none;
}
.con{
    width: 1000px;
    margin: 0 auto;
}
.con_title{
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.con_title h2{
    width: 500px;
}
.con_title h6{
    color: #7C6D44;
}
.con_text, .btn{
    padding: 30px;
    width: 70%;
    margin-bottom: 80px;
}
.con_text p{
    margin-bottom: 20px;
}
.btn{
    display: flex;
    justify-content: space-between;
}
.btn div{
    width: 60px;
    height: 60px;
    border: 1px solid #A28C54;
    border-radius: 50%;
    cursor: pointer;
}
.btn .previous {
    background-image: url(../img/blog_page_arrow_l.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 42px;
    transition: .2s;
}
.btn .back {
    background-image: url(../img/blog_page_arrow_b.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    position: relative;
    transition: .2s;
}
.btn .next {
    background-image: url(../img/blog_page_arrow_r.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 42px;
    transition: .2s;
}
.btn .previous:hover, .btn .next:hover{
    background-color: #eee;
    background-size: 47px;
}
.btn .back:hover{
    background-color: #eee;
    background-size: 35px;
}
.btn .back::before{
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    right: 70px;
    width: 240px;
    border-bottom: 1px dashed #A28C54;
    color: aliceblue;
}
.btn .back::after{
    content: '';
    display: block;
    position: absolute;
    top: 30px;
    left: 70px;
    width: 240px;
    border-bottom: 1px dashed #A28C54;
    color: aliceblue; 
}

@media screen and (max-width: 414px){
    section{
        padding-bottom: 90px;
    }
    .con{
        width: 100%;
    }
    .con_title{
        width: 100%;
    }
    .con_title h2{
        width: 100%;
    }
    .con_text, .btn{
        /* border: 1px solid red; */
        padding: 20px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 20px;
    }
    .btn .back::before{
        width: 50px;
    }
    .btn .back::after{
        width: 50px;
    }
}



